* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: ivory;
}

.question {
    width: 600px;
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
}

